:root{
    --color-icons-inactive: #ba9695;
    --color-fondo: #752E2B;
    --color-paginate-active:#E4DDDD;
    --color-paginate-inactive: #AD7A78;
    --color-rows-tablas:#DDC4C4;
}
.fondo{
    background: var(--color-fondo);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}
.contenedorClientes{
    position: relative;
    top: 90px;
    z-index: 10;
}
.table{
    height: 35vw;
}
li.active a{
    background-color: var(--color-paginate-active);
}
li:not(.active) a.paginado{
    background-color: var(--color-paginate-inactive);
}
ul li a.paginado{
    font-weight: bold;
}
ul li a:hover.paginado{
    background-color: white;
}
table tr:nth-child(even) {
    background-color: var(--color-rows-tablas) /* Color para las filas pares */
}

table tr:nth-child(odd) {
    background-color: #ffffff; /* Color para las filas impares */
}
.clienteForm{
    border-radius: 10px;
    background-color: white;
    height: 40rem;
    width: 40rem;
}
.containerForm{
    width: 50px;
}
.campos{
    margin: 50px;
}
.input-field input[type=text]:focus + label {
    color: var(--color-titulos) !important;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid var(--color-titulos) !important;
    box-shadow: 0 1px 0 0 var(--color-titulos) !important;
}

