:root{
    --color-icons-inactive: #ba9695;
    --color-icons-active: #752E2B;
}

img {
    position: absolute;
    top: -20px;
    height: 8rem;
}

nav{
    height: 5rem;
    box-shadow: none !important;
}

.material-icons{
    transition: transform 0.3s;
    color: var(--color-icons-inactive);
    font-size: 3rem !important;
    margin-top: 1rem;
}

.material-icons:hover{
    color: var(--color-icons-active);
    background-color: transparent;
    transform: scale(1.5);
}
.contenedor{
    margin-right: 2rem;
}
.contenedorTriagulo{
    position: absolute;
    top: 6.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.triangulo {
    transform: scaleY(-1);
    width: 0;
    height: 0;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-bottom: 3rem solid white;

}


