:root{
    --color-icons-inactive: #ba9695;
    --color-fondo: #752E2B;
    --color-paginate-active:#E4DDDD;
    --color-paginate-inactive: #AD7A78;
    --color-rows-tablas:#DDC4C4;
}

.fondo{
    background: var(--color-fondo);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

.contenedorPedimentosRT{
    position: relative;
    top: 140px;
    z-index: 10;
}

.pedimentoRTForm{
    border-radius: 10px;
    background-color: white;
    height: 45rem;
    width: 40rem;
}

.pedimentoRTFormButton{
    transition: transform 0.3s;
    background-color: var(--color-paginate-inactive);
    color: inherit;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.pedimentoRTFormButton:hover{
    transform: scale(1.5);
    background-color: var(--color-fondo);
    color: inherit;
    color: white;
    font-weight: bold;
}


